@keyframes pisca{
     0% {opacity: 0.1;}
     50%{opacity: 1;}
     100%{opacity: 0.1;}
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    background-image: linear-gradient(to right, red,pink,#002776 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    }
.urnaarea{
    display: flex;
    align-items: center;
    justify-content: center;
}
.urna{
    display: flex;
    padding: 30px;
    background-color: #dbd5c9;
}
.tela{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 320px;
    background: linear-gradient(to right ,#e8e8e8, #c1c1c1) ;
    border: 1px solid rgb(73, 73, 73);
}
.teclado{
    margin-left: 30px;
    background-color: #403a3a;
}
.tecladobutton{
    font-size: 25px ;
    background-color: black;
    margin: 10px;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 70px;
    cursor: pointer;
    box-shadow: 3px 3px 0 rgb(77, 76, 76);}
.tecladoline{ 
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
.tecladoline2{
        display: flex;
        justify-content: center;
        align-items: center;    }
.tecladoline3{
        display: flex;
        align-items: flex-end;
    }
.brancobutton{
        background-color: #fff;
        color: black;
        font-size: 15px;
    }
.corrigebutton{
        background-color: #f09046;
        color: black;
        font-size: 15px;
    }
.confirmabutton{
        background-color: #48c079;
        color: black;
        font-size: 15px;
        width: 90px;
        height: 50px;
        
    }
.inftop{
        flex: 1;
        display: flex;
    }
.infbottom {
        height: 50px;
        padding-left: 10px;
        border-top: 2px black solid;
        font-size: 14px;
    }
.infleft{
        flex:1;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
.infright{
        width: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }
.candidato-fotos{
        background-color: white;
        background-color: black 2px solid;
        text-align: center;
        font-size: 14px;
    }
.candidato-fotos.vice{
            width: 70%;
            font-size: 10px;
        }
.infright img{
        width: 100%;

    }
.infleft-1{
        height: 50px;
        display: flex;
        align-items: center;
    }
.infleft-2{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.infleft-3{
        height: 50px;
        display: flex;
        align-items: center;
    }
.number{
        display: inline-block;
        width: 30px;
        height: 40px;
        border: 1px solid black;
        text-align: center;
        line-height: 40px;
        font-size: 25px;
        font-weight: 600;
    }
.pisca{
       animation-name: pisca;
       animation-duration: 1s;
       animation-iteration-count: infinite;
    }
.inleft-4{
       flex: 1;
        line-height: 30px;
    }
 .vice img
    { margin-right: 10px;}
.small 
    { margin-right: 25px;   
      height: 100px;
      margin-top: 5px;
      width: auto;
 }

.avisoGrande{
        margin-top: 10px;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
.giantaviso{
        font-size: 70px;
        display: flex;
        flex:  1;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }
header fieldset
{ border-radius: 10px;
    border: goldenrod 2px solid;
    background-color: royalblue;
    height: auto;  width: 800px;
    border-radius: 10px;
    border: red 4px solid; 
    text-align: center; 
    margin-bottom: 25px;}
    header fieldset .election-title {
        font-size: 40px;
        font-weight: 900;
        background: linear-gradient(to left ,rgb(209, 0, 0),white, darkblue );
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -o-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: black 1px ;
      }
.candidatesArea
{
  display: flex;
  justify-content: space-around;
  align-items: center;}
.candidatesArea .thanks
{ padding: 50px; 
  background: none;
  -webkit-text-fill-color: white;
}
.candidate 
{ display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  min-width:170px;
  margin: 20px;} 
.candidate .imgArea img 
{height: 120px;}


  